<a href="https://colab.research.google.com/github/AnuChegoni/CSDcoding/blob/main/csdcoding1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print the elements of the list ['Rama',8,10.2]nusing for loop

In [ ]:
a = ['rama',8,10.2]
for b in a:
  print (b)

rama
8
10.2

print string rama using for loop

In [ ]:
a = 'rama'
for b in a:
  print (b)

r
a
m
a

print the nos 1-10 using for loop

In [ ]:
for a in range(1,11):
  print(a)

1
2
3
4
5
6
7
8
9
10

write the code to print 10-2

In [ ]:
for a in range(10,1,-1):
  print (a)

10
9
8
7
6
5
4
3
2

write code to print 1-20 only two space gap

In [ ]:
for a in range(1,21,2):
  print (a)

1
3
5
7
9
11
13
15
17
19

print 10-50 with nos not divisble by 5

In [ ]:
for a in range(10,51):
   if(a%5 != 0):
    print(a)

11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [ ]:
list=[2,12,22,32]

sum = 0
for i in list:
  sum = sum+i

  print(sum)

2
14
36
68

In [ ]:
for i in range(3):
  print("Outer Loop", i)

  for j in range(2):
    print("Inner Loop", j)
  print('\n')

Outer Loop 0
Inner Loop 0
Inner Loop 1


Outer Loop 1
Inner Loop 0
Inner Loop 1


Outer Loop 2
Inner Loop 0
Inner Loop 1

In [ ]:
x=3
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123

In [ ]:
for a in range(0,51,2):
  print(a)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
even=[]
odd=[]
for i in range(1,51):
  if i%2==0:
    even.append(i)
  else :
    odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

find factorial of a number

In [ ]:
x=int(input("enter a number"))
f=1
for i in range(1,x+1):
  f=f*i
print(f)

enter a number11
39916800